<<<<<<< HEAD


=======
body {
  background-image: url(../images/sayagata-400px.png);
}
>>>>>>> 5bc577d57fd336d6cf7ce941ecc5a20b792335ce

#header {
  height: 100px;
  background-color: gray;

<<<<<<< HEAD

=======
}
#site-heading {
  height: 100%;
  margin-left: 10px;
}
#cart {
  font-size: 28px;
  text-align: right;
  height: 100%;

}
#navbar {
  height: 100%;
}
.nav-pills{
  margin-top: 25px;
}
.cartIcon {
  text-decoration: none !important;
  color: #2C3E50
}
.cartIcon:hover{
  color: white;
}

.glyphicon{
  display: inline-block;
  margin-top: 28px;
  margin-right: 15px
}
tfoot {
  font-weight: bold;
}
>>>>>>> 5bc577d57fd336d6cf7ce941ecc5a20b792335ce

.billingLabel {
  margin-right: 200px;
}

.creditCardNumber {
  margin-right: 200px;
}

.expMonth {
  margin-right: 200px;
}

.expYear {
  margin-right: 200px;
}

.cvc {
  margin-right: 200px;
}


.billing {
  float: none;
  display: inline;
}

#addressLine1 {
  padding: 30px;
}

#contactNumber {
  text-align: center;
}

.shoppingCartTitle {
  font-weight: bold;
  font-size: 18px;
}
<<<<<<< HEAD

#googleMap {
  margin-left: 20px;
  height: 250px;
  width: 250px;
}

#header {
  height: 200px;
  background-color: gray;
}
#site-heading {
  height: 100%;
  padding-top: 50px;
  margin-left: 10px
}
#cart {
  font-size: 28px;
  text-align: right;
  height: 100%;
}
.nav {

}
#navbar {
  height: 100%;
}
.nav-pills{
  margin-left: 20%;
  margin-top: 70px;
}

#footer{
    /*margin-bottom: 0px;*/
    padding-top: 20px;
    height: 400px;
    background-color: gray;
}

li {
  float: none;
  list-style: none;
  margin-right: 15px;
  margin-bottom: 42px;
  margin-top: 30px;
  text-align: center;
=======
footer{
  padding-top: 20px;
  height: 440px;
  background-color: gray;
}
.panel {
  height: 95%;
>>>>>>> 5bc577d57fd336d6cf7ce941ecc5a20b792335ce
}
.lowPanel {
  height: 100%;
}
.gMap {
  max-width: 100%;
}
