body {
  background-image: url(../images/swirl_pattern.png);
}
#header {
  height: 100px;
  background-color: #465D50;

}
#site-heading {
  height: 100%;
  margin-left: 10px;
  color: white;
}

.footer_li {
  text-align: left;
  margin-top: 5px;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}
.footer_li a{
  text-decoration: none;
  color: #2C3E55;
}
.footer_picture{
    margin-right: 10px;
    display: inline;
    height: 40px;
    width: 40px;
    border-radius: 50%
}

#cart {
  font-size: 28px;
  text-align: right;
  height: 100%;

}
#navbar {
  height: 100%;
}
.nav-pills{
  margin-top: 25px;
}
.cartIcon {
  text-decoration: none !important;
  color: white;
}
.cartIcon:hover{
  color: white;
}

.glyphicon{
  display: inline-block;
  margin-top: 28px;
  margin-right: 15px
}
tfoot {
  font-weight: bold;
}

#creditCardNumberLabel {
  margin-right: 100px;
}
#expMonthLabel {
  margin-right: 25px;
}
#expYearLabel {
  margin-right: 100px;
}
#cvcLabel{
  margin-right: 30px;
}
#purchaseButton {
  margin-right: 30px;
}

.creditCardNumber {
  margin-right: 80px;
}
.expMonth {
  margin-right: 75px;
}
.expYear {
  margin-right: 125px;
}
.cvc{
  margin-right: 100px;
}



.billing {
  float: none;
  display: inline;
}

.shoppingCartTitle {
  font-weight: bold;
  font-size: 18px;
}

#cart {
  font-size: 28px;
  text-align: right;
  height: 100%;
}
footer{
  padding-top: 20px;
  height: 440px;
  background-color: #465D50;
}
.panel {
  height: 95%;
}
.lowPanel {
  height: 100%;
}
.gMap {
  max-width: 100%;
}

.billingZip {
  margin-bottom: 33px;
}

#valid-callout {
  marging-right: 10px;
  padding: 10px;
}
