#header {
  height: 200px;
  background-color: gray;
  display: none;
}
#site-heading {
  height: 100%;
  padding-top: 50px;
  margin-left: 10px
}
#cart {
  font-size: 28px;
  text-align: right;
  height: 100%;
  display: none;
}
.nav {
  display: none;
}
#navbar {
  height: 100%;
}
.nav-pills{
  margin-left: 20%;
  margin-top: 70px;
}
#site-heading h1{
  display: none;
}
#main{
  display: none;
}
#footer{
  margin-bottom: 0px;
  padding-top: 20px;
  height: 400px;
  background-color: gray;
  border: solid 1px black;
}
li {
  float: none;
  margin-right: 15px;
  text-align: center;
  list-style: none;
}
li:last-of-type{
  margin-right: 0;
}
.glyphicon{
  display: inline-block;
  margin-top: 72px;
  margin-right: 15px
}
.cart p{
  display: inline-block;
}
.product {
  display: inline-block;
  text-align: center;
  border: solid 1px black;
  height: 450px;
  margin-bottom: 20px;
}
.carousel{
  height: 490px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: gray;
}
.carouselPic {
  max-height: 100%;
  max-width: auto;
  display: none;
}
#imgLeft{
  height: 100%;
  width: 50px;
  background-color: transparent;
  border: none;
  focus: none;
  padding-bottom: 6%;
  display: none;
}
#imgRight{
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  padding-bottom: 6%;
  display: none;
}
.btn:focus{
  outline: none !important;
}
#signup{
  margin-bottom: 20px;
}
#signup img{
  max-height: 100%;
  max-width: 100%;
  padding-top: 20px;
}
.prodDiv{
  height: 300px;
}
.prodArt {
  background-color: gray;
}
.description {
  padding-bottom: 20px;
}
.description h2{
  font-size: 20px;
}
#fade {
  display: none;
}
