body {
  background-image: url(../images/swirl_pattern.png);
}
#header {
  height: 100px;
  background-color: #465D50;
  display: none;
}
#site-heading {
  height: 100%;
  margin-left: 10px;
  color: white
}
#cart {
  font-size: 28px;
  text-align: right;
  height: 100%;
  display: none;
}
.nav {
  display: none;
}
#navbar {
  height: 100%;
}
#site-heading h1{
  display: none;
}
#main{
  display: none;
}
.nav-pills{
  margin-top: 25px;
}
.glyphicon{
  display: inline-block;
  margin-top: 28px;
  margin-right: 15px;
  color: white;
}
.cartIcon {
  text-decoration: none !important;
  color: #2C3E50
}
.cartIcon:hover{
  color: white;
}
.product {
  display: inline-block;
  text-align: center;
  border: solid 1px black;
  height: 450px;
  margin-bottom: 20px;
}
.carousel{
  height: 590px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #465D50;
  text-align: center;
}
.carouselPic {
  height: 590px;
  width: 1200px;
  display: none;
}
#imgLeft{
  height: 100%;
  width: 50px;
  background-color: transparent;
  border: none;
  focus: none;
  padding-bottom: 6%;
  display: none;
}
#imgRight{
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  padding-bottom: 6%;
  display: none;
}
.btn:focus{
  outline: none !important;
}
#signup{
  margin-bottom: 20px;
  background-color: #465D50;
  padding: 0;
  border-radius: 20px;
}
#signup img{
  max-height: 100%;
  max-width: 100%;
  padding-top: 20px;

}
#button {
  background-color: #465D50;
}
.prodDiv{
  height: 300px;
}
.prodArt {
  border: solid 4px white;
}
.description {
  padding-bottom: 20px;
}
.description h2{
  font-size: 20px;
}
#fade {
  display: none;
}
.section {
  height: 100%
}
.teaserLink {
  text-decoration: none !important;
  color: white;
}
.teaserLink:hover{
  color: white;
}
footer{
  height: 340px;
  background-color: #465D50;
  padding-top: 20px;
  height: 440px;
}
.panel {
  height: 95%;
}

.lowPanel {
  height: 100%;
}
.gMap {
  max-width: 100%;
}

/* footer css */
li {
  text-align: center;
  list-style: none;
  margin-top: 5px;
  padding: 10px;
  text-decoration:underline;
  text-underline-position: below;
}

li img {
  text-align: center;
  list-style: none;
  text-decoration:underline;
  text-underline-position: below;
}
.footer_picture{
    height: 60px;
    width: 60px;
}
